footer {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: 43px;
	display: flex;
}

footer .items-left {
	display: inline-flex;
	align-items: center;
	font-family: var(--main-font-family);
	font-style: normal;
	line-height: 21px;
	font-weight: 300;
	font-size: var(--footer-element-size);
	color: var(--footer-element-color);
	margin-left: 10px;
}

footer .categories {
	display: inline-flex;
	align-items: center;
	font-family: var(--main-font-family);
	font-style: normal;
	line-height: 21px;
	font-weight: 300;
	font-size: var(--footer-element-size);
	color: #888888;
	margin-left: auto;
}

footer .categories > input {
	appearance: none;
}

footer .categories > label {
	border: 1px solid rgba(235,223,223,0.0);
	cursor: pointer;
	padding: 0px 5px 0px 5px;
}

footer .categories > input:checked + label {
	border: 1px solid rgba(235,223,223,1);
	border-radius: 10%;
}
footer .clear-completed-btn {
	display: inline-flex;
	align-items: center;
	font-family: var(--main-font-family);
	font-style: normal;
	line-height: 21px;
	font-weight: 300;
	font-size: var(--footer-element-size);
	color: var(--footer-element-color);
	margin-left: auto;
	margin-right: 10px;
	background:none;
    border:none;
    cursor: pointer;
}