@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
	--main-background-color: #FFFFFF;
	--main-font-family: Roboto;
	--main-font-size: 24px;
	--main-font-gray-color: #CCCCCC;
	
	--todo-element-color: #666666;
	
	--footer-element-color: #888888;
	--footer-element-size: 14px;
}

body {
	background: #F5F5F5;
}

.todo {
   	display: flex;
   	flex-direction: column;
    align-items: center;
}

.todo-title {
	font-family: var(--main-font-family);
	font-weight: 200;
	font-size: 100px;
	line-height: 21px;
	color: var(--main-font-gray-color);
	margin-bottom: 40px;
}